*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* "homepage": "http://empege.github.io/react-fun", */

// Variables
$white: white;
$purple: #990099;
$yellow: #ffd725;
$black: black;
$dark: #181818;
$navbarHeight: 73px;
$navbarHeightMobile: 56px;

// Imports (gotta be after variables, or put variables in different scss file)
@import './components/navigation';
@import './components/colorPicker/colorPicker';
@import './components/coctails/coctails';
@import './components/cart/cart';

html, body {
  height: 100%;
}

body {
  /* padding-top: $navbarHeightMobile; */
  background:url('reactfunground.jpg');
}

#root {
  min-height: 100vh;
}

a {text-decoration: none; color: black;}
ul {list-style-type: none;}



.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: grid;
  justify-items: center;
  gap: 5px;
}

.btn {
  padding: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

/* HOME */
.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

.title h3 {
  margin-top: 0.3rem;
}

/* COMPONENTS */
.components {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(150px, 500px));
  justify-content: space-around;
  gap: 5rem 2rem;
}
.component {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
  background: $dark;
  color: $white;
  transition: .3s;
}
.component:hover {
  filter: contrast(60%);
  transform: scale(1.05);
  transition: .3s;
}

.component img {
  width: 100%;
}
.component-info {
  padding: 1rem 1rem 1.5rem;
  font-weight: bold;
}
.component-info h2{
  margin-bottom: 0.5rem;
}

/* LOADING */
/* Ovo sredi malo posle ako te ne mrzi xD */
.loading-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-wrapper h1 {
  font-size: 5rem;
}